@font-face {
	font-family: Montserrat Regular;
	font-display: auto;
	src: local("Montserrat Regular"), url("../assets/fonts/Montserrat-Regular.woff2");
	font-style: normal;
}
@font-face {
	font-family: Montserrat Bold;
	font-display: auto;
	src: local("Montserrat Bold"), url("../assets/fonts/Montserrat-Bold.woff2");
	font-style: normal;
}
@font-face {
	font-family: Montserrat ExtraBold;
	font-display: auto;
	src: local("Montserrat ExtraBold"), url("../assets/fonts/Montserrat-ExtraBold.woff2");
	font-weight: 800;
	font-style: normal;
}
@font-face {
	font-family: Montserrat Italic;
	font-display: auto;
	src: local("Montserrat Italic"), url("../assets/fonts/Montserrat-Italic.woff2");
	font-style: normal;
}
@font-face {
	font-family: Montserrat Medium;
	font-display: auto;
	src: local("Montserrat Medium"), url("../assets/fonts/Montserrat-Medium.woff2");
	font-style: normal;
}

/* ================ body =============== */
body {
	font-family: "Montserrat Regular";
	padding: 0;
	margin: 0;
}

h1 {
	font-family: "Montserrat ExtraBold";
	font-style: normal;
	font-weight: 800;
	font-size: 48px;
	line-height: 64px;
	text-align: center;

	margin: 0 0 50px 0;

	color: #fff;
}

h2 {
	font-family: "Montserrat Bold";
	font-style: normal;
	font-weight: bold;
	font-size: 36px;
	line-height: 53px;
	text-align: center;

	margin: 0;

	color: #323232;
}

h3 {
	font-family: "Montserrat Medium";
	font-style: normal;
	font-weight: 600;
	font-size: 18px;
	line-height: 22px;

	margin: 0;
}

p {
	font-family: "Montserrat Regular";
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 25px;

	margin: 0;

	color: #999;
}

ul {
	list-style-type: none;
}

.container {
	width: 70%;
	margin: 0 auto;
}

/* ============== flex ================== */
.flex-row {
	display: flex;
	flex-direction: row;
}

.flex-column {
	display: flex;
	flex-direction: column;
}

/* ============= buttons ================= */
button {
	padding: 0;
	border: none;
	font: inherit;
	color: inherit;
	background-color: transparent;
	cursor: pointer;
}
button:active,
button:focus {
	outline: none;
}

.button-block {
	font-family: "Montserrat Medium";
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 20px;
	padding: 14px 42px;
	border-radius: 30px;

	color: #fff;
	background: #4985ff;
	transition: 0.1s linear;
}
.button-block:hover {
	box-shadow: 0 0 15px rgb(241, 241, 241);
}

/* ================ links ============== */
a {
	font-family: "Montserrat Medium";
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 20px;

	text-decoration: none;

	color: #fff;
}

.link-block {
	font-family: "Montserrat Medium";
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 20px;

	text-decoration-line: underline;

	color: #4985ff;
}
.link-block:visited {
	color: #4985ff;
}
.link-block:hover {
	color: #000;
}

/* header
========================================== */
header {
	background-image: url(../assets/img/header-background.jpg);
	background-size: auto 100%;

	height: 100vh;
}

/* navigation
============================================ */
nav {
	border-bottom: 1px solid rgba(161, 161, 161, 0.5);
}

.navbar {
	display: flex;
	justify-content: flex-end;

	padding: 40px 0 0 0;
}

.navbar-links {
	padding: 0 20px 40px 20px;

	opacity: 0.7;
	border-bottom: 1px solid transparent;
	transition: 0.2s linear;
}

.navbar-links:last-child {
	margin: 0 -20px 0 0;
}

.navbar-links:hover {
	opacity: 1;
	border-bottom: 1px solid #fff;
}

/* intro
=============================================== */
.home-content {
	justify-content: center;
	align-items: center;

	height: 100%;
}

.home-content > button {
	box-shadow: 0 0 10px rgba(181, 181, 181, 0.5);
}

.first-title {
	font-family: "Montserrat Medium";
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 20px;

	margin: 0 0 20px 0;

	color: #fff;
}

/* services
=============================================== */
#services {
	justify-content: center;
	align-items: center;

	height: 80vh;
}

#services > h2 {
	margin: 0 0 50px 0;
}

#services > p {
	margin: 0 0 70px 0;
	text-align: center;
}

.services-block {
	justify-content: space-between;
	height: 200px;

	margin: 0 0 30px 0;
}

.services-image {
	height: 88px;
	width: 88px;

	padding: 10px;
	margin: 15px 0 0 0;

	border-radius: 50%;
	border: 1px solid #e0e0e0;
}

.services-image > img {
	width: 40px;
	padding: 25px;
	background-image: url(../assets/img/ellipse-small.svg);
	background-size: cover;
}

.services-content {
	justify-content: center;
	flex-basis: 420px;

	margin: 0 30px 0 20px;
}

.services-content > h3 {
	margin: 0 0 12px 0;
}

.services-content > p {
	font-size: 14px;
	line-height: 22px;
}

#services button {
	box-shadow: 0px 0px 10px rgba(71, 71, 71, 0.5);
}

#services button:hover {
	box-shadow: 0 0 15px #000;
}

/* standarts
======================================= */
.standarts {
	background-color: #f6f6f8;
}

.standarts-block {
	justify-content: space-between;
	align-items: center;

	padding: 100px 0;

	border-bottom: 1px solid #e0e0e0;
}

.standarts-block-content {
	flex-basis: 45%;
}

.standarts-block-content > h2 {
	text-align: left;
}

.standarts-block-content > p {
	margin: 40px 0 30px;
}

.standarts-projects {
	justify-content: space-evenly;
	padding: 70px 0;
}

.standarts-projects-content-single {
	display: flex;
	justify-content: space-between;
}

.standarts-projects-content-single > h2 {
	font-family: "Montserrat Regular";
	font-weight: normal;

	color: #000;
}

/* our works
======================================= */
.our-works {
	background: linear-gradient(#504dc2 50%, #fff 50%);
	padding: 0 0 85px 0;
}

.our-works-title {
	justify-content: space-between;
	align-items: center;

	padding: 100px 0 70px 0;
}

.our-works-title > h2 {
	width: 50%;
}

.our-works-title > h2 {
	text-align: left;
	color: #fff;
}

.our-works-button {
	text-align: right;
	box-shadow: 0 0 10px rgba(181, 181, 181, 0.2);
}

.our-works-items {
	justify-content: space-between;
	padding: 0 0 85px 0;
	border-bottom: 1px solid #e0e0e0;
}

.our-works-item {
	width: 32%;
}

.our-works-item > img {
	width: 100%;
}

.our-works-item > h3 {
	margin: 30px 0;
}

.our-works-item > h3 > span {
	font-family: "Montserrat Medium";
	font-style: normal;
	font-weight: 600;
	font-size: 18px;
	line-height: 22px;

	color: #4985ff;
}

.our-works-item > p {
	margin: 0 0 30px 0;
}

/* our projects
======================================= */
#our-projects {
	background-color: #f6f6f8;

	padding: 100px 0 130px;
}

.our-projects-content > h2 {
	color: #000;
}

.our-projects-content > p {
	margin: 50px auto 70px;
	width: 70%;

	text-align: center;
}

.our-projects-images {
	justify-content: space-between;
	margin: 0 0 50px 0;
}

.our-projects-images > img {
	width: 23%;
}

.our-projects-button.button-block {
	display: block;
	margin: 0 auto;
	box-shadow: 0px 0px 10px rgba(71, 71, 71, 0.5);
}
.our-projects-button:hover {
	box-shadow: 0 0 15px #000;
}

/* video
====================================== */
.video {
	height: 570px;

	background: url(../assets/img/video-background.jpg) no-repeat center;
	background-size: cover;
}

.video > h2 {
	padding: 70px 0 0 0;
	color: #fff;
}

.video > p {
	margin: 30px 0 70px;

	color: #fff;
	text-align: center;
}

.player {
	position: relative;
	padding: 0 0 85px 0;
	border-bottom: 1px solid #e0e0e0;
}

.player-content {
	justify-content: center;
	align-items: center;

	max-width: 970px;
	height: 430px;

	background: url(../assets/img/video.png) no-repeat center;
	background-size: cover;

	margin: 0 auto;
}

.player-play {
	align-items: center;

	width: 300px;
	height: 100px;

	border: 1px solid #fff;
	border-radius: 200px;
	box-shadow: 0px 0px 10px rgba(111, 111, 111, 0.25);

	vertical-align: middle;

	transition: box-shadow 0.3s linear;
}
.player-play:hover {
	cursor: pointer;
	box-shadow: 0 0 15px #000;
}

.player-play > img {
	background-color: #4985ff;
	border-radius: 50%;
	margin: 0 20px 0 40px;
}

.player-play > p {
	color: #fff;
}

/* spam
====================================== */
#spam {
	margin-top: 270px;
	text-align: center;
	padding-bottom: 85px;
}

#spam > p:nth-child(2) {
	margin: 20px 0 30px;
}

.subscribe-block {
	text-align: center;
	width: 490px;
	justify-content: center;
	margin: 0 auto 35px;
}

.subscribe-block > input {
	padding: 0 0 0 20px;
	flex: 2;
	outline: none;

	border-radius: 30px 0 0 30px;
	border: 1px solid #f2f2f2;
	box-shadow: 0px 0px 10px rgba(111, 111, 111, 0.25);
}
.subscribe-block > input::placeholder {
	color: #999;
}

.spam-button.button-block {
	flex: 1;
	height: 45px;

	text-align: center;

	border-radius: 0 30px 30px 0;
	box-shadow: 0px 0px 10px rgba(111, 111, 111, 0.25);
}
.spam-button.button-block:hover {
	background-color: #1e5edf;
}

.subscribe-block + p {
	font-size: 13px;
	line-height: 21px;
	text-align: center;
}

/* contacts
====================================== */
#contacts {
	background-color: #f6f6f8;
}

#contacts > .container {
	padding: 70px 0;
	justify-content: space-between;

	border-bottom: 1px solid #e0e0e0;
}

.contacts-content {
	width: 25%;
}

.contacts-content > h3 {
	margin: 0 0 35px 0;
}

.contacts-data-single {
	margin: 0 0 30px 0;
}
.contacts-data-single:last-child {
	margin: 0;
}

.contacts-data-single > img {
	margin: 0 15px 0 0;
}

.contacts-data-single > p {
	font-size: 14px;
	line-height: 22px;
}

/* contacts
====================================== */
.footer {
	background-color: #f6f6f8;
	padding: 30px 0;
}

.footer > p {
	text-align: center;

	font-size: 13px;
	line-height: 21px;
}
