/* ================ fonts =============== */
@font-face {
	font-family: Montserrat Regular;
	font-display: auto;
	src: local("Montserrat Regular"), url("../assets/fonts/Montserrat-Regular.woff2");
	font-style: normal;
}
@font-face {
	font-family: Montserrat Bold;
	font-display: auto;
	src: local("Montserrat Bold"), url("../assets/fonts/Montserrat-Bold.woff2");
	font-style: normal;
}
@font-face {
	font-family: Montserrat ExtraBold;
	font-display: auto;
	src: local("Montserrat ExtraBold"), url("../assets/fonts/Montserrat-ExtraBold.woff2");
	font-weight: 800;
	font-style: normal;
}
@font-face {
	font-family: Montserrat Italic;
	font-display: auto;
	src: local("Montserrat Italic"), url("../assets/fonts/Montserrat-Italic.woff2");
	font-style: normal;
}
@font-face {
	font-family: Montserrat Medium;
	font-display: auto;
	src: local("Montserrat Medium"), url("../assets/fonts/Montserrat-Medium.woff2");
	font-style: normal;
}

/* ================ body =============== */
body {
	font-family: "Montserrat Regular";
	padding: 0;
	margin: 0;
}

h1 {
	font-family: "Montserrat ExtraBold";
	font-style: normal;
	font-weight: 800;
	font-size: 48px;
	line-height: 64px;
	text-align: center;

	margin-bottom: 50px;

	color: #fff;
}

h2 {
	font-family: "Montserrat Bold";
	font-style: normal;
	font-weight: bold;
	font-size: 36px;
	line-height: 53px;
	text-align: center;

	margin: 0;

	color: #323232;
}

h3 {
	font-family: "Montserrat Medium";
	font-style: normal;
	font-weight: 600;
	font-size: 18px;
	line-height: 22px;

	margin: 0;
}

p,
li {
	font-family: "Montserrat Regular";
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 25px;

	margin: 0;

	color: #999;
}

ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

.container {
	max-width: 70%;
	padding: 0 20px;
	margin: 0 auto;
}

/* ============== flex ================== */
.flex-row {
	display: flex;
	flex-direction: row;
}

.flex-column {
	display: flex;
	flex-direction: column;
}

/* ============= buttons ================= */
button {
	padding: 0;
	border: none;
	font: inherit;
	color: inherit;
	cursor: pointer;
}
button:active,
button:focus {
	outline: none;
}

.button-block {
	font-family: "Montserrat Medium";
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 20px;
	padding: 14px 42px;
	border-radius: 30px;

	color: #fff;
	background: #4985ff;
	transition: 0.2s linear;
}
.button-block:hover {
	background: #345ce0;
}

/* ================ links ============== */
a {
	font-family: "Montserrat Medium";
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 20px;

	text-decoration: none;

	color: #fff;
}

.link-block {
	font-family: "Montserrat Medium";
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 20px;

	text-decoration-line: underline;

	color: #4985ff;
}
.link-block:visited {
	color: #4985ff;
}
.link-block:hover {
	color: #000;
}

/* header
============================================ */
header {
	height: 100vh;

	background-image: url(../assets/img/header-background.jpg);
	background-size: cover;
}

/* navigation
============================================ */
nav {
	border-bottom: 1px solid rgba(161, 161, 161, 0.5);
}

.navbar {
	display: flex;
	justify-content: flex-end;

	padding: 40px 0 0 0;
}

.navbar-links {
	padding: 0 20px 35px;

	opacity: 0.8;
	border-bottom: 2px solid transparent;
	transition: opacity 0.1s linear, border-bottom 0.2s linear;
}

.navbar-links:last-child {
	margin-right: -20px;
}

.navbar-links:hover {
	opacity: 1;
	border-bottom: 2px solid #fff;
}

/* intro
=============================================== */
.home-content {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	height: 80%;
}

.home-suptitle {
	font-family: "Montserrat Medium";
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 20px;

	margin-bottom: 20px;

	color: #fff;
}

/* services
=============================================== */
#services {
	display: flex;
	flex-direction: column;
	align-items: center;

	padding-top: 100px;
	padding-bottom: 100px;
}

#services > h2 {
	margin-bottom: 50px;
}

#services > p {
	max-width: 60%;
	margin-bottom: 70px;
	text-align: center;
}

.services-blocks {
	display: flex;
	margin-bottom: 60px;
}

.services-block {
	display: flex;
}

.services-image {
	height: 88px;
	width: 88px;
	padding: 10px;

	border-radius: 50%;
	border: 1px solid #e0e0e0;
}

.services-image img {
	width: 40px;
	padding: 24px;
	background-image: url(../assets/img/ellipse-small.svg);
	background-size: cover;
}

.services-content {
	display: flex;
	flex-direction: column;

	margin: 0 30px 0 20px;
	padding-top: 45px;
}

.services-content h3 {
	margin-bottom: 12px;
}

.services-content p {
	font-size: 14px;
	line-height: 22px;
}

/* standarts
======================================= */
.standarts {
	background-color: #f6f6f8;
}

.standarts-block {
	display: flex;
	justify-content: space-between;
	align-items: center;

	padding-top: 100px;
	padding-bottom: 100px;

	border-bottom: 1px solid #e0e0e0;
}

.standarts-block-content {
	flex-basis: 45%;
}

.standarts-block-content h2 {
	text-align: left;
	margin-bottom: 40px;
}

.standarts-block-content p {
	margin-bottom: 30px;
}

.standarts-projects {
	display: flex;
	justify-content: space-evenly;
	padding-top: 70px;
	padding-bottom: 70px;
}

.standarts-projects-content-single {
	display: flex;
	justify-content: space-between;
}

.standarts-projects-content-single h2 {
	font-family: "Montserrat Regular";
	font-weight: normal;

	color: #000;
}

/* our works
======================================= */
.our-works {
	background: linear-gradient(#504dc2 50%, #fff 50%);
	padding: 0 0 85px 0;
}

.our-works-title {
	display: flex;
	justify-content: space-between;
	align-items: center;

	padding: 100px 0 70px 0;
}

.our-works-title > h2 {
	width: 50%;
	text-align: left;
	color: #fff;
}

.our-works-items {
	display: flex;
	justify-content: space-between;
	padding: 0 0 85px 0;
	border-bottom: 1px solid #e0e0e0;
	flex-wrap: wrap;
}

.our-works-item {
	width: 32%;
}

.our-works-item img {
	width: 100%;
	margin-bottom: 30px;
}

.our-works-item h3 {
	margin-bottom: 30px;
}

.our-works-item h3 span {
	font-family: "Montserrat Medium";
	font-style: normal;
	font-weight: 600;
	font-size: 18px;
	line-height: 22px;

	color: #4985ff;
}

.our-works-item p {
	margin: 0 0 30px 0;
}

/* our projects
======================================= */
#our-projects {
	background-color: #f6f6f8;

	padding: 100px 0;
}

.our-projects-content h2 {
	color: #000;
	margin-bottom: 50px;
}

.our-projects-content p {
	margin: 0 auto 70px;
	width: 70%;
	text-align: center;
}

.our-projects-images {
	display: flex;
	justify-content: space-between;
	margin-bottom: 50px;
}

.our-projects-images img {
	width: 23%;
}

.our-projects-button.button-block {
	display: block;
	margin: 0 auto;
}

/* video
====================================== */
.video {
	height: 570px;
	padding-top: 80px;

	background: url(../assets/img/video-background.jpg) no-repeat center;
	background-size: cover;
}

.video h2 {
	color: #fff;
	margin-bottom: 25px;
}

.video > p {
	margin-bottom: 90px;

	color: #fff;
	text-align: center;
}

.player {
	padding: 0 0 85px 0;
	border-bottom: 1px solid #e0e0e0;
}

.player-content {
	display: flex;
	justify-content: center;
	align-items: center;

	max-width: 970px;
	height: 440px;

	background: url(../assets/img/video.png) no-repeat center;
	background-size: cover;

	margin: 0 auto;
}

.player-play {
	display: flex;
	align-items: center;
	justify-content: center;

	width: 300px;
	height: 100px;

	border: 2px solid #fff;
	border-radius: 200px;

	vertical-align: middle;

	transition: box-shadow 0.3s linear;
}

.player-play a {
	height: 60px;
	margin-right: 20px;
	background-color: #4985ff;
	border-radius: 50%;
	transition: background-color 0.2s linear;
}
.player-play a:hover {
	background-color: #1840f1;
}

.player-play > img {
	background-color: #4985ff;
	border-radius: 50%;
	margin: 0 20px 0 40px;
}

.player-play > p {
	color: #fff;
}

/* spam
====================================== */
#spam {
	margin-top: 240px;
	text-align: center;
	padding-bottom: 85px;
}

#spam > p:nth-child(2) {
	margin: 20px 0 30px;
}

.subscribe-block {
	display: flex;
	text-align: center;
	width: 490px;
	justify-content: center;
	margin: 0 auto 35px;
}

.subscribe-block > input {
	padding: 0 0 0 20px;
	flex: 2;
	outline: none;

	border: none;
	border-radius: 30px 0 0 30px;
	box-shadow: 0px 0px 10px rgba(111, 111, 111, 0.25);
}
.subscribe-block > input::placeholder {
	color: #999;
}

.spam-button.button-block {
	flex: 1;

	border-radius: 0 30px 30px 0;
	box-shadow: 0px 0px 10px rgba(111, 111, 111, 0.25);
}

.subscribe-block + p {
	font-size: 13px;
	line-height: 21px;
	text-align: center;
}

/* contacts
====================================== */
#contacts {
	background-color: #f6f6f8;
}

#contacts > .container {
	display: flex;
	padding: 70px 0;
	justify-content: space-between;

	border-bottom: 1px solid #e0e0e0;
}

.contacts-content {
	width: 25%;
	padding: 0 10px;
}

.contacts-content h3 {
	margin-bottom: 35px;
}

.contacts-data li {
	margin-bottom: 25px;
}
.contacts-data li:last-child {
	margin-bottom: 0;
}

.contacts-content:first-child li:first-child::before {
	content: url(../assets/img/contacts-mail.svg);
}
.contacts-content:first-child li:nth-child(2)::before {
	content: url(../assets/img/contacts-phone.svg);
}
.contacts-content:first-child li:last-child:before {
	content: url(../assets/img/contacts-location.svg);
}
.contacts-content:nth-child(n + 2) li::before {
	content: url(../assets/img/contacts-list.svg);
}
.contacts-content:first-child li:first-child::before,
.contacts-content:first-child li:nth-child(2)::before,
.contacts-content:first-child li:last-child:before,
.contacts-content:nth-child(n + 2) li::before {
	width: 10px;
	height: 10px;
	margin-right: 15px;
}

/* footer
====================================== */
footer {
	background-color: #f6f6f8;
	padding: 30px 0;
}

footer p {
	text-align: center;

	font-size: 13px;
	line-height: 21px;
}

/* ====================== media queries ======================== */

/* ====================== laptop ======================== */
@media (max-width: 1450px) {
	.container {
		max-width: 75%;
	}

	/* header
	======================== */
	header {
		height: 70vh;
	}

	h1 {
		font-size: 42px;
		line-height: 58px;
	}

	.button-block {
		padding: 12px 40px;
	}

	/* services
	======================== */
	#services {
		padding-top: 70px;
		padding-top: 70px;
	}
	#services > h2 {
		font-size: 32px;
		line-height: 48px;
	}
	#services > p {
		max-width: 100%;
		margin-bottom: 60px;
	}

	.services-blocks {
		flex-wrap: wrap;
		margin-bottom: 50px;
	}

	.services-block {
		margin-bottom: 40px;
	}

	/* standarts
	======================== */
	.standarts-block-content {
		flex-basis: 55%;
	}

	.standarts-block {
		padding-top: 75px;
		padding-bottom: 75px;
	}
	.standarts-block > h2 {
		font-size: 32px;
		line-height: 48px;
	}
	.standarts-block > img {
		max-width: 340px;
	}

	.standarts-projects {
		padding: 40px 0;
	}
	.standarts-projects h2 {
		font-size: 32px;
		line-height: 48px;
	}

	/* our works
	======================== */
	.our-works-title {
		padding: 50px 0;
	}
	.our-works-title > h2 {
		width: 55%;
		font-size: 32px;
		line-height: 48px;
	}

	.our-works-items {
		padding-bottom: 75px;
	}

	.our-works-item {
		width: 31%;
	}
	.our-works-item img {
		margin-bottom: 20px;
	}
	.our-works-item h3 {
		margin-bottom: 20px;
	}
	.our-works-item p {
		font-size: 14px;
		margin-bottom: 20px;
	}

	/* our projects
	======================== */
	#our-projects {
		padding: 90px 0;
	}
	#our-projects h2 {
		font-size: 32px;
		line-height: 48px;

		margin-bottom: 40px;
	}

	/* our video
	======================== */
	.video h2 {
		font-size: 32px;
		line-height: 48px;
	}
	.video > p {
		margin-bottom: 75px;
	}

	/* spam
	======================== */
	#spam {
		margin-top: 200px;
	}

	/* contacts
	======================== */
	#contacts h3 {
		font-size: 16px;
		line-height: 20px;
	}
	#contacts li {
		font-size: 14px;
		line-height: 18px;
	}

	.contacts-content {
		padding: 0px 5px;
	}
}

/* ====================== tablet ======================== */
@media (max-width: 1030px) {
	.container {
		max-width: 85%;
	}

	/* header
	======================== */
	.navbar-links a {
		font-size: 14px;
	}

	.home-suptitle {
		font-size: 14px;
	}

	h1 {
		font-size: 36px;
		line-height: 48px;
	}

	.button-block {
		font-size: 14px;
		padding: 10px 36px;
	}

	/* services
	======================== */
	#services > h2 {
		font-size: 24px;
		line-height: 36px;
	}
	#services > p {
		font-size: 14px;
		line-height: 22px;
	}

	.services-content h3 {
		font-size: 16px;
		line-height: 20px;
	}
	.services-content p {
		font-size: 14px;
		line-height: 22px;
	}

	/* standarts
	======================== */
	.standarts-block {
		text-align: center;
		flex-direction: column;
		padding-bottom: 50px;
	}

	.standarts-block-content {
		flex-basis: 100%;
		margin-bottom: 40px;
	}
	.standarts-block-content h2 {
		text-align: center;
		font-size: 24px;
		line-height: 36px;
	}
	.standarts-block-content p {
		font-size: 14px;
		line-height: 22px;
	}

	.standarts-projects-content-single {
		justify-content: space-around;
	}
	.standarts-projects-content-single h2 {
		font-size: 24px;
		line-height: 36px;
	}
	.standarts-projects-content-single p {
		font-size: 14px;
		line-height: 22px;
	}

	/* our works
	======================== */
	.our-works {
		background: linear-gradient(#504dc2 35%, #fff 35%);
	}

	.our-works-title > h2 {
		font-size: 24px;
		line-height: 36px;
	}

	.our-works-item h3 {
		font-size: 16px;
		line-height: 22px;
	}
	.our-works-item p {
		font-size: 14px;
		line-height: 20px;
	}

	/* our projects
	======================== */
	#our-projects {
		padding-top: 70px;
	}

	#our-projects h2 {
		font-size: 24px;
		line-height: 36px;
	}
	#our-projects p {
		font-size: 14px;
		line-height: 20px;
	}

	/* video
	======================== */
	.video {
		height: 450px;
		padding-top: 60px;
	}
	.video h2 {
		font-size: 24px;
		line-height: 36px;
	}
	.video p {
		font-size: 14px;
		line-height: 20px;
	}

	.player-content {
		height: 360px;
	}

	/* spam
	======================== */
	#spam > p:nth-child(2) {
		font-size: 15px;
		line-height: 20px;
	}
}
