@font-face {
	font-family: Montserrat Regular;
	font-display: auto;
	src: local("Montserrat Regular"), url("../assets/fonts/Montserrat-Regular.woff2");
	font-style: normal;
}
@font-face {
	font-family: Montserrat Bold;
	font-display: auto;
	src: local("Montserrat Bold"), url("../assets/fonts/Montserrat-Bold.woff2");
	font-style: normal;
}
@font-face {
	font-family: Montserrat ExtraBold;
	font-display: auto;
	src: local("Montserrat ExtraBold"), url("../assets/fonts/Montserrat-ExtraBold.woff2");
	font-weight: 800;
	font-style: normal;
}
@font-face {
	font-family: Montserrat Italic;
	font-display: auto;
	src: local("Montserrat Italic"), url("../assets/fonts/Montserrat-Italic.woff2");
	font-style: normal;
}
@font-face {
	font-family: Montserrat Medium;
	font-display: auto;
	src: local("Montserrat Medium"), url("../assets/fonts/Montserrat-Medium.woff2");
	font-style: normal;
}

/* ================ body =============== */
body,
h1 {
	margin: 0;
	font-family: "Montserrat Regular";
}

p,
h2,
h3,
h5 {
	margin: 0;
}

ul {
	list-style-type: none;
}

.container {
	width: 70%;
	margin: 0 auto;
}

/* ============= flex ================= */
.flex-row {
	display: flex;
	flex-direction: row;
}

.flex-column {
	display: flex;
	flex-direction: column;
}

/* ============= buttons ================= */
button {
	padding: 0;
	border: none;
	font: inherit;
	color: inherit;
	background-color: transparent;
	cursor: pointer;
}
button:active,
button:focus {
	outline: none;
}

.button-block {
	font-family: "Montserrat Medium";
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 20px;
	padding: 14px 42px;
	border-radius: 30px;

	color: #fff;
	background: #4985ff;
	transition: 0.1s linear;
}
.button-block:hover {
	box-shadow: 0 0 15px rgb(241, 241, 241);
}

/* ================ links ============== */
a {
	text-decoration: none;
}

.link-block {
	font-family: "Montserrat Medium";
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 20px;

	text-decoration-line: underline;

	color: #4985ff;
}
.link-block:visited {
	color: #4985ff;
}
.link-block:hover {
	color: #000;
}

/* header
========================================== */
header {
	background-image: url(../assets/img/header-background.jpg);
	background-size: auto 100%;

	height: 100vh;
}

/* navigation
============================================ */
nav {
	border-bottom: 1px solid rgba(161, 161, 161, 0.5);
}

.navbar {
	display: flex;
	justify-content: flex-end;

	padding: 40px 0 0 0;
}

.navbar-links {
	padding: 0 20px 40px 20px;

	border-bottom: 1px solid transparent;
	transition: 0.3s linear;
}

.navbar-links:last-child {
	margin: 0 -20px 0 0;
}

.navbar-links a {
	font-family: "Montserrat Medium";
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 20px;

	color: #fff;
}

.navbar-links:hover {
	border-bottom: 1px solid #fff;
}

/* intro
=============================================== */
.home-content {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	height: 100%;
}

.first-title {
	font-family: "Montserrat Medium";
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 20px;

	margin: 0 0 20px 0;

	color: #fff;
}

h1 {
	font-family: "Montserrat ExtraBold";
	font-style: normal;
	font-weight: 800;
	font-size: 48px;
	line-height: 64px;
	text-align: center;

	margin: 0 0 50px 0;

	color: #fff;
}

/* services
=============================================== */
.services {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	height: 80vh;
}

.services h2 {
	font-family: "Montserrat Bold";
	font-style: normal;
	font-weight: bold;
	font-size: 36px;
	line-height: 53px;
	text-align: center;

	color: #323232;

	margin: 0 0 50px 0;
}

.services-description {
	font-family: "Montserrat Regular";
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 25px;
	text-align: center;

	color: #999;

	margin: 0 0 70px 0;
}

.services-block {
	display: flex;
	justify-content: space-between;

	height: 200px;

	margin: 0 0 30px 0;
}

.services-image {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	padding: 10px;
	margin: 10px 0 0 0;

	height: 88px;
	width: 88px;

	border-radius: 50%;
	border: 1px solid #e0e0e0;
}

.services-image img {
	width: 40px;
	padding: 25px;
	background-image: url(../assets/img/ellipse-small.svg);
	background-size: cover;
}

.services-block h3 {
	margin: 0 0 12px 0;
}

.services-content {
	display: flex;
	flex-direction: column;
	justify-content: center;
	flex-basis: 420px;

	margin: 0 30px 0 20px;
}

.services button:hover {
	box-shadow: 0 0 15px #000;
}

/* our works
======================================= */
.our-works {
	background: linear-gradient(#504dc2 50%, #fff 50%);
	padding: 0 0 85px 0;
}

.our-works-title {
	justify-content: space-between;
	align-items: center;

	padding: 100px 0 70px 0;
}

.our-works-title h2,
.our-works-button {
	flex: 1;
}

.our-works-title h2 {
	font-family: "Montserrat Bold";
	font-style: normal;
	font-weight: bold;
	font-size: 36px;
	line-height: 53px;

	color: #ffffff;
}

.our-works-button {
	text-align: right;
}

.our-works-items {
	justify-content: space-between;
	padding: 0 0 85px 0;
	border-bottom: 1px solid #e0e0e0;
}

.our-works-item {
	width: 32%;
}

.our-works-item img {
	width: 100%;
}

.our-works-item h5 {
	font-family: "Montserrat Medium";
	font-style: normal;
	font-weight: 600;
	font-size: 18px;
	line-height: 22px;

	margin: 30px 0;

	color: #000;
}

.our-works-item span {
	font-family: "Montserrat Medium";
	font-style: normal;
	font-weight: 600;
	font-size: 18px;
	line-height: 22px;

	color: #4985ff;
}

.our-works-item p {
	font-family: "Montserrat Regular";
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 25px;

	margin: 0 0 30px 0;

	color: #999;
}

/* spam
====================================== */
.spam {
	text-align: center;
}

.subscribe-block {
	text-align: center;
	width: 490px;
	justify-content: center;
	margin: 0 auto;
}

.subscribe-block input {
	flex: 2;
	outline: none;
	border-radius: 30px;
	border: 1px solid #f2f2f2;
	box-shadow: 0px 0px 10px rgba(111, 111, 111, 0.25);
}

.subscribe-block input::placeholder {
	padding-left: 20px;
}

.subscribe-block .button-block {
	flex: 1;
	height: 45px;

	border-radius: 0 30px 30px 0;
}
